:host {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vh 1vh;
}

.continue {
    height: 8vh;
}

.centerer {
    text-align: center;
    width: 100pv;
}


.difference {
    text-align: center;
}