:host {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1vh 1vh;
}

.continue {
    min-height: 8vh;
}

.centerer {
    text-align: center;
    width: 100pv;
}


.difference {
    text-align: center;
    font-size: 35px;
}

.diff-amount {
    font-size: 50px;
}