.done {
    height: 5vh;
    width: auto;
}

:host {
    padding: 1vh;
}

h1 {
    font-size: 40px;
}

.amount {
    font-size: 50px;
}

.elem {
    background-color: lightgreen;
    text-align: center;

}

.centerer {
    width: 100%;
    text-align: center;
}